@charset "UTF-8";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* SPINNER */

.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #9356DC;
    opacity: 0.8;
    animation: fondu-out 0.1s ease-out;
    animation-delay: 1.8s;
    animation-fill-mode: both;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
}

  .loader_lettre{
    display: flex;
    font-family: "Shrikhand";
    font-size: 200px;
    text-shadow: 0 0 15px white;
    animation: load 0.9s linear;
    animation-iteration-count: 2;
}

.loader_lettre:nth-child(1) {
    animation-delay: 0.3s;
}
.loader_lettre:nth-child(2) {
    animation-delay: 0.6s;
}
.loader_lettre:nth-child(3) {
    animation-delay: 0.9s;
}

/* css de l'index et des class similaire aux autres pages */

body{
    font-family: "Roboto", sans-serif;
    color: black;
}

a{
    text-decoration: none;
    color: black;
}


/* Entête*/


header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_logo{
    width: 250px;
    padding: 15px 0;
}

.header_icon {
    position: absolute;
    left: 5%;
    transform: translate(-5%, -50%);
    font-size: 25px;
  }

/* Localisation */


.search{
    background-color: #f2f2f2;
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.localisation_label{
    font-size: 120%;
}

.localisation{
    background-color: rgba(128, 128, 128, 0.2);
    padding: 20px 0;
    width: 100%;
}

.localisation_input{
    background-color: rgba(128, 128, 128, 0);
    border: none;
    text-align: center;
    font-weight: 700;
    font-size: 120%;
}


/* Réservation */


.reserve{
    width: 100%;
    padding: 40px 20px 80px 20px;
}

.reserve_title{
    padding: 5px 40px 15px 40px;
    font-size: 30px;
}

.reserve_subtitle{
    color: #666666;
    font-size: 20px;
    margin-bottom: 50px;
}

.btn{
    color: white;
    padding: 20px 30px;
    background: linear-gradient(170deg, #ff79da, #9356dc);
    border-radius: 50px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
    transition: filter 450ms, box-shadow 300ms 150ms;
}
.btn:hover{
    filter: brightness(115%);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}


/* Fonctionnement */


.functioning{
    padding: 50px 30px;
}
.functioning_list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 30px 20px;
}
.functioning_item{
    width: 100%;
    min-width: 280px;
    background-color: #f2f2f2;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 10px 20px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.functioning_number{
    color: white;
    background-color: #9356dc;
    border-radius: 100%;
    padding: 5px 10px;
    margin-left: -15px;
}
.functioning_icon{
    color: #666666;
}
.functioning_txt{
    font-weight: 700;
}
.functioning_item:hover {
    background-color: #f2eafb;
}
.functioning_item:hover .functioning_icon {
    color: #9356dc;
    background-color: #f2eafb;
}


/* Restaurants */


.restaurants{
    background-color: #f2f2f2;
    padding: 50px 30px;
}
.restaurants_container{
    width: 100%;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.restaurants_link{
    flex: 1 1 45%;
}
.restaurants_card{
    position: relative;
    width: 100%;
    min-width: 280px;
    height: 280px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
.restaurants_tag{
    position: absolute;
    right: 20px;
    top: 20px;
    color: #278870;
    font-weight: bold;
    background-color: #99e2d0;
    padding: 5px 10px;
}
.restaurants_img{
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.restaurants_description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    line-height: 1.5em;
}
.restaurants .fa-heart{
    font-size: 24px;
}

/* animation coeur */

.fa-heart{
    opacity: 1;
    position: relative;
    cursor: pointer;
}
.fa-heart::after{
    content: "\f004";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: opacity 500ms ease-out;
}
.fa-heart:hover::after{
    font-weight: 900;
    opacity: 1;
    background: linear-gradient(170deg, #ff79da, #9356dc);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* footer */


footer{
    background-color: #333333;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

footer * li{
    list-style-type: none;
}

.footer_logo{
    font-family: "Shrikhand", sans-serif;
    color: white;
    font-size: 20px;
}

.footer_nav{
    font-size: 16px;
}

.footer_list{
    line-height: 1.8em;
}

.footer_link{
    color: white;
}

.footer_icon{
    margin-right: 8px;
}

footer .fa-handshake-angle{
    font-size: 11px;
}


/* css des pages menu */


.banner{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.menu{
    padding: 30px 35px 120px 35px;
    background-color: #f2f2f2;
    border-radius: 35px 35px 0px 0px;
    margin-top: -63px;
    position: relative;
}

.menu_restaurants-titre{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.menu_titre{
    font-family: "Shrikhand", sans-serif;
    font-weight: 200;
    font-size: 180%;
}

.menu_coeur{
    font-size: 25px;
}


/* Entrées */


.menu_card{
    width: 100%;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu_dishes{
    width: 100%;
    min-width: 280px;
    padding-bottom: 20px;
}

.menu_subtitle{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7em;
}

hr{
    height: 3px;
    width: 45px;
    background-color: #99e2d0;
    border: none;
}

.menu_dish{
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    background-color: white;
    padding: 10px;
    margin: 20px -5px;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    line-height: 1.7em;
    cursor: pointer;
}


/* check roulant */
.menu_dish:hover .menu_dish-price{
    transform: translateX(-80px);
}

.menu_dish:hover .menu_dish-checkbox{
    transform: translateX(-100%);
}

.menu_dish:hover .menu_dish-check{
    transform: rotate(360deg);
}
/* fin check roulant */


.menu_dish-titre{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transition: width 500ms ease-in-out;
  }

  .menu_dish-caption{
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .menu_dish-compo{
    font-size: 16px;
    width: 100%;
    white-space: nowrap;
    transition: width 500ms ease-in-out;
    text-overflow: ellipsis;
    overflow: hidden;
  }

.menu_dish-price{
    font-weight: bold;
    transition: transform 500ms ease-in-out;
}

.menu_dish-checkbox{
    position: absolute;
    left: 100%;
    bottom: 0;
    width: 80px;
    height: 100%;
    background-color: #99e2d0;
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 500ms ease-in-out;
}

.menu_dish-check{
    color: white;
    font-size: 30px;
    font-weight: 900;
    transition: transform 500ms ease-in-out;
}

/* Bouton commander des menus */
.menus_btn {
    padding: 20px 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
/* fin bouton menus */


/* Responsive pour les menus*/

@media screen and (min-width: 992px) {
    .menu_dishes {
      flex: 0 1 30%;
    }
}

/* Responsive pour l'index (fonctionnement) */

@media screen and (min-width: 992px) {
    .functioning_item {
      flex: 0 1 30%;
    }
}