@charset "UTF-8";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
    color: black;
}

a{
    text-decoration: none;
    color: black;
}


/* Entête*/


header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_logo{
    width: 250px;
    padding: 15px 0;
}


/* Localisation */


.search{
    background-color: #f2f2f2;
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.localisation_label{
    font-size: 120%;
}

.localisation{
    background-color: rgba(128, 128, 128, 0.2);
    padding: 20px 0;
    width: 100%;
}

.localisation_input{
    background-color: rgba(128, 128, 128, 0);
    border: none;
    text-align: center;
    font-weight: 700;
    font-size: 120%;
}


/* Réservation */


.reserve{
    width: 100%;
    padding: 40px 20px 80px 20px;
}

.reserve_title{
    padding: 5px 40px 15px 40px;
    font-size: 30px;
}

.reserve_subtitle{
    color: #666666;
    font-size: 20px;
    margin-bottom: 50px;
}

.btn{
    color: white;
    padding: 20px 30px;
    background: linear-gradient(170deg, #ff79da, #9356dc);
    border-radius: 50px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
    transition: filter 450ms, box-shadow 300ms 150ms;
}
.btn:hover{
    filter: brightness(115%);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}


/* Fonctionnement */


.functioning{
    padding: 50px 30px;
}
.functioning_list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 30px 20px;
}
.functioning_item{
    width: 100%;
    min-width: 280px;
    background-color: #f2f2f2;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 10px 20px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.functioning_number{
    color: white;
    background-color: #9356dc;
    border-radius: 100%;
    padding: 5px 10px;
    margin-left: -15px;
}
.functioning_icon{
    color: #666666;
}
.functioning_txt{
    font-weight: 700;
}
.functioning_item:hover {
    background-color: #f2eafb;
}
.functioning_item:hover .functioning_icon {
    color: #9356dc;
    background-color: #f2eafb;
}


/* Restaurants */


.restaurants{
    background-color: #f2f2f2;
    padding: 50px 30px;
}
.restaurants_container{
    width: 100%;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.restaurants_link{
    flex: 1 1 45%;
}
.restaurants_card{
    position: relative;
    width: 100%;
    min-width: 280px;
    height: 280px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
.restaurants_tag{
    position: absolute;
    right: 20px;
    top: 20px;
    color: #278870;
    font-weight: bold;
    background-color: #99e2d0;
    padding: 5px 10px;
}
.restaurants_img{
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.restaurants_description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    line-height: 1.5em;
}
.restaurants .fa-heart{
    font-size: 24px;
}

/* animation coeur */

.fa-heart{
    opacity: 1;
    position: relative;
    cursor: pointer;
}
.fa-heart::after{
    content: "\f004";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: opacity 500ms ease-out;
}
.fa-heart:hover::after{
    font-weight: 900;
    opacity: 1;
    background: linear-gradient(170deg, #ff79da, #9356dc);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}